services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - "9090:9090"
    networks:
      - observability
    depends_on:
      - api
      - worker

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/dashboard.yml:/etc/grafana/provisioning
      - ./grafana/data_source.yml:/etc/grafana/provisioning
      - ./grafana/sensor_dashboard.json:/var/lib/grafana/dashboards
    networks:
      - observability
    depends_on:
      - prometheus

  api:
    build:
      context: ./api
    container_name: sensor-api
    environment:
      - WORKER_URL=http://worker:8001/enqueue
    ports:
      - "8000:8000"
    networks:
      - observability
    depends_on:
      - worker

  worker:
    build:
      context: ./worker
    container_name: sensor-worker
    ports:
      - "8001:8001"
    networks:
      - observability
  ui:
    build: ./ui
    container_name: sensor-ui
    ports:
      - "8081:80"
    networks:
      - observability
    depends_on:
      - api

networks:
  observability:
    driver: bridge
